<head>
    <link rel="stylesheet" href="css/navbar.css">
</head>

<nav class="navbar navbar-expand-sm bg-secondary navbar-dark bg-dark">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li> 
                <a class="navbar-brand" href="/">
                    <img src="img/hello.png" class = "emote" alt="" alt="emote" width="45" height="45">
                    Artist Search
                </a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>